body {
  background: #40a8c4;
  background-image: url("Clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Cairo", sans-serif;
}

input {
  color: #404969;
  background: rgba(188, 219, 223, 1);
  border: 10px solid transparent;
  border-radius: 8px;
}

button {
  color: #404969;
  background: rgba(188, 219, 223, 0.9);
  border: 10px solid transparent;
  border-radius: 8px;
  margin-block-end: 20px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: rgba(64, 73, 105, 0.1);
}

h1 {
  text-align: center;
  font-size: 50px;
  line-height: 2em;
  margin-bottom: -3.5rem;
}

a {
  text-decoration: none;
}
#form-city {
  margin-block-end: 0;
}

.list-group {
  border: transparent;
  font-size: 15px;
  list-style-type: none;
}

.city-chosen {
  font-family: "Patrick Hand", cursive;
  color: #ec6e4c;
}
#cityChosen1 {
  font-size: 28px;
  margin-bottom: 0;
}
.current-icon {
  text-align: center;
  font-size: 60px;
  margin-bottom: -1rem;
}
.forecast-text {
  font-size: 18px;
  margin-bottom: 0rem;
}
#cityChosen2 {
  font-size: 22px;
}
.card-body {
  padding: 0px 0px 10px 25px;
  background: #f9f5f0;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #235784;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 14px;
}
.weather-forecast-temperatures-min {
  opacity: 0.7;
}

#currentDescription:first-letter {
  text-transform: capitalize;
}
.open-source-link {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  font-family: monospace;
  font-size: 14px;
}
.container {
  background: rgba(188, 219, 223, 0.8);
  max-width: 700px;
  margin: 30px auto;
  padding: 36px;
  border-radius: 10px;
  color: #235784;
}
